
$primary-color: #1292EE;
$secondary-color: #0077CC;
$tertiary-color: #034077;
$quaternary-color: #002651;

.cont {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden; 
}

.header,.footer {
    background-color: $primary-color;
    color: white;
    padding: 1.5rem;
    text-align: center;
    flex-shrink: 0; 
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #D6EDFF;
    overflow-y: hidden; 
    padding: 2rem 0; 
}

.division-cont {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    padding: 30px;
    width: 30vw; 
    background-color: $secondary-color;
    color: white;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 2rem; 
    margin-top: 2rem; 
}

.division-heading {
    margin-bottom: 3rem;
}

.button-56 {
    background-color: $tertiary-color;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $quaternary-color;
    }
}



.logout-button {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 2rem; 
    background-color: #D6EDFF; 
    color: white; 
    border-radius: 0px; 
    margin-top: 2rem; 
    width: 100%; 

    button {
        background-color: $tertiary-color; 
        color: white; 
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darken(#89c4ff, 10%); 
        }
    }
}
