// Define color variables
$primary-color: #5583EE;
$secondary-color: #41D8DD;
$tertiary-color: #6CACFF;
$quaternary-color: #8DEBFF;

// Define mixins and functions
@mixin button-styles {
 padding: 0.5rem 1rem;
 font-size: 1rem;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.3s ease;
}

// Define styles
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10rem;
    background-color: $primary-color;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; // Enable vertical scrolling if content overflows

    .input-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ABC7FF;
        padding: 1.5rem;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 500px;
        margin-bottom: 2rem;
    }

    h2 {
        margin-bottom: 1rem;
        color: #002651;
    }

    input[type="number"] {
        margin-bottom: 1rem;
        padding: 0.5rem;
        font-size: 2rem;
        border: none;
        border-radius: 5px;
        outline: none;
        background-color: $tertiary-color;
        color: white;
        width: 100%;
        max-width: 300px;
    }

    button {
        @include button-styles;
        margin-top: 1rem;

        &:hover {
            background-color: $quaternary-color;
        }
    }

    .current-bid-container {
        margin-top: 1rem;
        padding: 1rem;
        background-color:  #002651;
        color: white;
        border-radius: 5px;
        width: 100%;
        max-width: 500px;
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 300px;
        margin-top: 1rem;

        button {
            @include button-styles;
            flex: 1;
            margin-right: 0.5rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
