
$primary-color: #135589;
$secondary-color: #2A93D5;
$tertiary-color: #3DDAD8;
$quaternary-color: #709FB0;

body {
    font-family: Arial, sans-serif;
    background-color: $primary-color;
    color: white;
    margin: 0;
    padding: 20px;
}

.header, .footer {
    background-color: $secondary-color;
    color: white;
    padding: 20px;
    text-align: center;
}

h2 {
    color: $tertiary-color;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: $tertiary-color;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid $quaternary-color;
    color: black; 
}

button {
    background-color: $secondary-color;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px; 

    &:hover {
        background-color: $tertiary-color;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $primary-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="email"] {
    padding: 10px;
    border: 1px solid $quaternary-color;
    border-radius: 5px;
    background-color: $primary-color;
    color: white;
    width: 100%;
}

input[type="submit"] {
    @extend button;
    width: auto;
    padding: 10px 15px; 
    width: 30%;
}

input[type="text"][readonly], input[type="email"][readonly] {
    background-color: $quaternary-color;
    cursor: not-allowed;
}

.update-user-form input[type="text"][readonly] {
    width: 50%; 
}

.message {
    background-color: $secondary-color;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0px;
    text-align: center;



}

.back-button {
    position: absolute;
    top: 3px; 
    right: 20px; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:$tertiary-color; 
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #709FB0; 
    }
}