<!-- user-details.component.html -->
<div *ngIf="user">
    <h2>User Details</h2>
    <table class="user-details-table">
      <tr>
        <th>User ID</th>
        <td>{{ user.userID }}</td>
      </tr>
      <tr>
        <th>Username</th>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
      </tr>
      <!-- Add more fields as needed -->
    </table>
   </div>
   <div *ngIf="!user">
    <p>No user details found.</p>
   </div>
   