// Define color variables
$primary-color: #1292EE;
$secondary-color: #0077CC;
$tertiary-color: #034077;
$quaternary-color: #002651;

// Reset overflow and set up flex layout
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-y: hidden; // Hide vertical scrollbar
}

// Define styles
.header, .footer {
    background-color: $primary-color;
    color: white;
    padding: 2.5rem;
    text-align: center;
    flex-shrink: 0; // Prevents these elements from shrinking
}

.main-content {
    flex-grow: 1; // Allows this element to grow and take up available space
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    background-color: #D6EDFF;
    overflow-y: auto; // Enable vertical scrolling if content overflows
}

.division-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    background-color: $secondary-color;
    color: white;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.division-heading {
    margin-bottom: 1rem;
}

.button-56 {
    background-color: $tertiary-color;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $quaternary-color;
    }
}
